body {
  background-color: black;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  border: 2px solid gray;
  display: grid;
  border-radius: 1rem;
  grid-template-areas:
    "header header header"
    "leftside leftside rightside"
    "footer footer footer";
  width: 1200px;
  margin: auto;
}

.header {
  grid-area: header;
  display: grid;
  align-items: center;
  justify-content: center;
}

h2 {
  color: green;
  justify-content: center;
}

.leftside {
  width: 70%;
  display: flex;
  flex-direction: column;
  grid-area: leftside;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.rightside {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  grid-area: rightside;
  text-align: center;
}

label {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

button {
  width: 100px;
  margin-top: 10px;
  align-items: center;
}

fieldset {
  display: grid;
  border-radius: 1rem;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
